<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='../static/favicon.ico')}}">
    <link rel="stylesheet" href="../static/add_product/input_styles.css">
   <script src="../static/add_product/add_product.js">
</script>
</head>
<body>
    <h1>Product Tracker</h1>
    <p>Enter your name, email, and the complete URL of the product you would like to track.</p>
    <div class="container" id="submit">
        <h2>Please input your information</h2>
        <form action="/addproducts" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
            <span id="first-name-error-message" style="color: red; display: none;">Please enter your first name.</span>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
            <span id="last-name-error-message" style="color: red; display: none;">Please enter your last name.</span>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <span id="email-error-message" style="color: red; display: none;">Please enter a valid email.</span>

            <label for="url"> ASOS Product URL:</label>
            <input type="url" id="url" name="url" required>
            <span id="error-message" style="color: red; display: none;">Please enter a valid ASOS Product URL.</span>

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="buttons-container">
        <button id="return_to_index_button" onclick='window.location.href = "./"'>Homepage</button>
        <button id="unsubscribe" onclick='window.location.href = "./subscriptions"'>View Subscriptions</button>
    </div>
    <br>
</body>
</html>
