* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        body, button {
            font-family: 'Source Sans Pro', sans-serif;
        }

        body {
            background-color: #f7f7f7;
            color: #4a4a4a;
            line-height: 1.7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        main {
            text-align: center;
            padding: 2rem;
        }

        .brand {
            font-size: 3.5rem;
            color: #333;
            margin-bottom: 1.5rem;
            font-weight: 700;
        }

        .brand span {
            font-weight: 700;
            color: #007bff;
        }

        h1 {
            font-size: 3rem;
            font-weight: 300;
            color: #333;
            margin-bottom: 2rem;
        }

        .content {
            max-width: 600px;
            margin: 0 auto;
        }

        .button-container {
            display: grid;
            grid-gap: 1rem;
            margin-top: 3rem;
            
        }

        .button-row {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

        .image {
            max-width: 300px;
            height: auto;
        }

        button {
            padding: 1rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid #007bff;
            border-radius: 0.25rem;
            background-color: transparent;
            color: #007bff;
            cursor: pointer;
            outline: none;
            margin: 0 0.5rem; /* Space between buttons when inline */
            min-width: 200px; /* Minimum width for the buttons */
            max-width: 200px;
        }

        button:hover, button:focus {
            background-color: #007bff;
            color: #ffffff;
            border-color: #007bff;
        }

        @media (prefers-reduced-motion: reduce) {
            * {
                transition: none;
            }
        }
        @media (max-width: 600px) {
            .button-row {
                flex-direction: column;
            }

            button {
                margin-bottom: 1rem;
                width: 100%; 
            }
        }